{% extends 'base.html.twig' %}

{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajoutez un commentaire{% endblock %}

{% block body %}

    <div class="formulaire">
        <a href="{{ path('home_user') }}" class="btn btn-primary">Revenir sur la liste d'articles</a>

        <h1>Saisissez votre commentaire sur l'article !</h1>

        {{ form_start(formComment) }}
        
        {{ form_row(formComment.author, {'attr': {'placeholder': "Votre pseudo"}}) }}
        {{ form_row(formComment.content, {'attr': {'placeholder': "Contenu du commentaire"}}) }}

        <button type="submit" class="btn btn-success">Enregistrer le commentaire</button>

        {{ form_end(formComment) }}
    </div>

{% endblock %}