{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}    

{% block body %}

    {{ include("blog_admin/_partials/_sidebar.user.html.twig") }}

    <section class="articles">
        <h1><b>Voici les articles récents disponibles !</b></h1>

        {% for article in articles_paginations %}
            <article class="article_blog">

                <h2>{{ article.title }}</h2>

                <div class="metadata">Publié le {{ article.publishedAt | date('d/m/Y') }} à {{ article.publishedAt | date('H:i') }} dans la catégorie 
                    {% for category in article.categories %}
                        <b>{{ category.title }}</b>
                    {% endfor %}
                </div>

                <div class="content">
                    <img src="{{ article.image }}" alt="image_test">
                    <p>{{ article.description }}</p>
                    <a href="{{ path('blog_show_user', {'id': article.id, 'slug': article.slug}) }}" class="btn btn-primary">Consulter cet article</a>
                </div>

            </article>
        {% endfor %}

        {# pagination utilisateur fonctionnelle #}
        {{ knp_pagination_render(articles_paginations) }}

    </section>

{% endblock %}
