{% extends 'base.html.twig' %}

{% block title %} Voir l'article {% endblock %}

{% block body %}

    <div class="body-content">
        <a href="{{ path('home_user') }}" class="btn btn-primary">Revenir sur la liste d'articles</a>

        <article>
            {{ include("blog_admin/_partials/_article.user.html.twig") }}
        </article>

        <div class="bouton">
            <a href="{{ path('add_comment', {'id' : article.id}) }}" class="btn btn-success">Ajouter un commentaire</a>
        </div>

        <h1>Liste des commentaires</h1>

        <section id="commentaires">
            {{ include("blog_admin/_partials/_comment.valid.html.twig") }}
        </section>
    </div>

{% endblock %}