{% extends 'base.admin.html.twig' %}

{% form_theme formCategory 'bootstrap_4_layout.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}

    <h1>
    {% if action %}
            Création d'une nouvelle catégorie
    {% else %}
            Modification de la catégorie
    {% endif %}
    </h1>

    {{ form_start(formCategory) }}

    {{ form_row(formCategory.title, {'attr': {'placeholder': "Titre de la catégorie"}}) }}

    <button type="submit" class="btn btn-success">
        {% if action %}
            Ajouter la categorie au blog
        {% else %}
            Enregistrer les modifications
        {% endif %}
    </button>

    {{ form_end(formCategory) }}

{% endblock %}