{% extends 'base.admin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}    

{% block body %}

    <h1><b>Voici la liste des catégories disponibles</b></h1>

    <section>
        {% for categorie in categories %}
            <article class="categories">
                <h2>Catégorie n°{{ categorie.id }}: {{ categorie.title }}</h2>
                <a href="{{ path('edit_category', {'id': categorie.id}) }}" class="btn btn-primary">Modifier cette catégorie</a>
                <a href="{{ path('delete_category', {'id': categorie.id}) }}" class="btn btn-danger">Supprimer cette catégorie</a>
            </article>
        {% endfor %}
    </section>

{% endblock %}
