{% extends 'base.admin.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('blog_list_admin') }}" class="btn btn-primary">Revenir sur la liste d'articles</a>
    </div>

    <h1>
        {% if action %}
            Modification de l'article
        {% else %}
            Création d'un article
        {% endif %}
    </h1>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArticle.categories) }}
    {{ form_row(formArticle.description, {'attr': {'placeholder': "Description de l'article"}}) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}

    <button type="submit" class="btn btn-success">
        {% if action %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article au blog
        {% endif %}
    </button>

    {{ form_end(formArticle) }}

{% endblock %}