{% extends 'base.admin.html.twig' %}

{% block title %}Homepage Admin{% endblock %}

{% block body %}

    <h1><b>Bienvenue dans l'espace d'administration du blog!</b></h1>
    <h4>L'espace d'administration consiste à faire de la modération des publications sur votre blog!</h4>

    <img src="http://placehold.it/300x250" alt="Légende de l'image">

    <h4>Vous pouvez ajouter, modifier et supprimer les articles, commentaires ainsi que les catégories de ce blog.</h4>
    
{% endblock %}