{% extends 'base.admin.html.twig' %}

{% block title %}Liste des Posts{% endblock %}

{% block body %}

    <h1><b>Liste des articles publiés</b></h1>

    <section class="articles">

        {% for article in articles %}

            <article class="liste-article">
                <h2>{{ article.title }}</h2>

                <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie 
                    {% for category in article.categories %}
                        <b>{{ category.title }}</b>
                    {% endfor %}
                </div>

                <div class="content">
                    <img src="{{ article.image }}" alt="">
                    <p>{{ article.description }}</p>
                    <a href="{{ path('blog_show', {'id': article.id }) }}" class="btn btn-primary">Gérer cet article</a>
                </div>
            </article>

        {% endfor %}
        
    </section>

{% endblock %}
