{% extends 'base.admin.html.twig' %}

{% block title %} Gestion d'article {% endblock %}

{% block body %}

    <div>
        <a href="{{ path('blog_list_admin') }}" class="btn btn-primary">Revenir sur la liste d'articles</a>
    </div>

    <article>
        {{ include("blog_admin/_partials/_article.admin.html.twig") }}
    </article>
    
    <div class="bouton">
        <a href="{{ path('blog_delete', {'id': article.id}) }}" class="btn btn-danger">Supprimer cet article</a>
        <a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-success">Modifier cet article</a>
    </div>

    <h1>Liste des commentaires</h1>

    <section id="commentaires">

        {% for comment in article.comments %}
            {% if comment == null %}
                <p>Pas de commentaires disponibles!</p>
            {% else %}
                {{ include("blog_admin/_partials/_comment.html.twig") }}
            {% endif %}
        {% endfor %}
        
    </section>

{% endblock %}