{# code pour afficher un article - côté admin #}

<h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie 
        {% for category in article.categories %}
            <b>{{ category.title }}</b>
        {% endfor %}
    </div>
    <div class="description">
        <img src="{{ article.image }}" alt="">
        <h3>Description de l'article :</h3>
        {{ article.description }}
    </div>
    <div>
        <section class="content">
            <h3>Contenu de l'article :</h3>
            <p>{{ article.content | raw }}</p>
        </section>
    </div>