{# code pour afficher les commentaires validés - côté utilisateur #}

{% for comment in article.comments %}
    {% if comment.valid %}
        <table class="table table-hover">
            <tr class="table-active">
                <th scope="row">Auteur</th>
                <td>Commentaire publié</td>
            </tr>
            <tr>
                <td>{{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)</td>
                <td>{{ comment.content | raw }}</td>
            </tr>
        </table>
    {% endif %}
{% endfor %}