{# code qui affiche la liste des commentaires pour chaque article - côté admin #}

<table class="table table-hover">
        <tr class="table-active">
            <th scope="row">Auteur</th>
            <td>Contenu du commentaire</td>
            <td>Actions</td>
        </tr>
        <tr>
            <td>{{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)</td>
            <td>{{ comment.content | raw }}</td>
            <td>
                {% if comment.valid %}
                    <a href="{{ path('comment_desactivation', {'id': comment.id}) }}" class="btn btn-warning">Désactiver ce commentaire</a>
                {% else %}
                    <a href="{{ path('comment_validation', {'id': comment.id}) }}" class="btn btn-success">Valider ce commentaire</a>
                {% endif %}
                <a href="{{ path('comment_delete', {'id': comment.id}) }}" class="btn btn-danger">Supprimer ce commentaire</a>
            </td>
        </tr>
</table>