{# code de la navbar de l'admin #}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home_user') }}">CodingParty</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" 
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto active">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home_admin') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Homepage</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Gestion des articles</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-header">Actions sur les articles</a>
                    <a class="dropdown-item" href="{{ path('blog_create') }}">Créer un nouvel article</a>
                    <a class="dropdown-item" href="{{ path('blog_list_admin') }}">Liste des articles</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-header">Autres options</a>
                    <a class="dropdown-item" href="{{ path('home_admin') }}">Homepage</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Gestion des catégories</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-header">Actions sur les catégories</a>
                    <a class="dropdown-item" href="{{ path('create_category') }}">Créer une nouvelle catégorie</a>
                    <a class="dropdown-item" href="{{ path('list_category') }}">Liste des catégories</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-header">Autres options</a>
                    <a class="dropdown-item" href="{{ path('home_admin') }}">Homepage</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Gestion des commentaires</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-header">Actions sur les commentaires</a>
                    <a class="dropdown-item" href="{{ path('blog_list_admin') }}">Voir depuis la liste d'articles</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-header">Autre option</a>
                    <a class="dropdown-item" href="{{ path('home_admin') }}">Homepage</a>
                </div>
            </li>
        </ul>
    </div>
</nav>