{# code de la navbar de l'utilisateur #}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home_user') }}">CodingParty</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" 
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home_admin') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Espace Admin</a>
            </li>
        </ul>
    </div>
</nav>