{# code qui affiche la sidebar - côté utlisateur #}

<div class="sidenav">
    <a class="sidebar" href="#">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
            SIDEBAR
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
    </a>
    <a href="#">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"> Commentaires (5)
    </a>

    {% for comment in commentaires_valides %}
        <div class="commentaires">
            <p>
                <b>{{ comment.author }}</b> a commenté l'article <i><b>"{{ comment.article.title }}"</b> 
                (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>) :
            </p>
            <i>{{ comment.content | raw }}</i>
        </div>
    {% endfor %}

    <a href="#"><span class="glyphicon glyphicon-list" aria-hidden="true"> Catégories</a>

    <div class='nb_categories'>
        {% for categorie in categories %}
            {% set nb_categories = (categorie.articles | length) %}
            {% if nb_categories > 0 %}
                <p id='nb_categorie'>
                    <b>{{ categorie.title }}</b>
                    <span class="badge badge-primary">{{ nb_categories }}</span>
                </p>
            {% endif %}
        {% endfor %}
    </div>
</div>